---
// Layouts
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout name="John Cooley" title="J404 Not Found | John Cooley's Personal Site">
	<div>
		<h1>Page Not Found</h1>
		<p>Not found</p>
	</div>
</MainLayout>
