---
// Layouts
import MainLayout from '../layouts/MainLayout.astro'
import Test from '../components/Test.svelte'

import resumeImg from '../img/resume.jpg'
---

<MainLayout name="John Cooley" title="John Cooley | Personal Site">
    <ul>
        <li>Home Page</li>
        <li>About - Developer / Personal</li>
        <li>Resume</li>
        <li>Projects</li>
        <li>Contact</li>
        <li>Colors I like</li>
    </ul>
</MainLayout>


<style lang="scss">
li {
	color: dodgerblue;
}
</style>