---
// Layouts
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout name="John Cooley" title="John Cooley | Personal Site">
	<h1>This is John Cooley's personal site.</h1>
	<div>More stuff coming soon.</div>
</MainLayout>
