---
import '../styles/global.css';

import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.svelte';

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
    <slot />
		<Footer client:idle />
	</body>
</html>
